
@{
    ViewData["Title"] = "Completed";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    Completed
                </header>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var or in Model.lstOder)
                            {
                                foreach (var de in Model.lstOde)
                                {
                                    if (or.Order_id == de.Order_id)
                                    {
                                        foreach (var item in Model.lstPro)
                                        {
                                            if (item.product_id == de.product_id)
                                            {

                                                <tr>
                                                    <td>@item.product_name</td>
                                                    <td>@de.Order_Details_num</td>
                                                    <td>@de.Order_Details_price</td>
                                                    <td><a href="/Product/Index?Id=@item.product_id"><button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button></a></td>
                                                </tr>

                                            }

                                        }
                                    }

                                }
                            }*@
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
<div class="footer-main">
    Copyright &copy Director, 2022
</div>

