
@{
    ViewData["Title"] = "Completed";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    Completed
                </header>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Image</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var or in ViewBag.lstCompleted)
                            {
                                foreach (var de in ViewBag.lstOrderDetail)
                                {
                                    if (or.OrderId == de.OrderId)
                                    {
                                        foreach (var item in ViewBag.lstProduct)
                                        {
                                            if (item.ProductId == de.ProductId)
                                            {
                                                
                                                <tr>
                                                    <td style="padding-top:40px">@item.ProductName</td>
                                                    <td ><img class="media-object" src="~/images/product-details/product/@item.ProductImage"></td>
                                                    <td style="padding-top:40px">@de.OrderDetailsNum</td>
                                                    <td style="padding-top:40px">@item.ProductPrice </td>
                                                    <td style="padding-top:40px">@or.OrderTotalMoney</td>
                                                    <td style="padding-top:40px">
                                                        @*Mua lại*@
                                                        <a href="/User/Reorder?Id=@or.OrderId"><button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button></a>
                                                        @*Contact ADMIN*@
                                                        <a href="/User/Contact?Id=@or.OrderId"><button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button></a>
                                                        @*Đánh giá sản phẩm*@
                                                        <a href="/User/Commet?Id=@item.ProductId"></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
<div class="footer-main">
    Copyright &copy Director, 2022
</div>

